extends main_jade
block content
	h1 Użytkownik używający szablonu mechanizmu Jade
	ul
		li Nazwa: #{uname}
		li Pojazd: #{vehicle}
		li Teren: #{terrain}
		li Klimat: #{climate}
		li Lokalizacja: #{location}